*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body{*/
/*    height: 100vh;*/
/*    background-color: darkgrey*/
/*}*/

/*img{*/
/*    width: 100px*/
/*}*/
/*.memory-game {*/
/*    width: 900px;*/
/*    height: 900px;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    perspective: 1000px;*/
/*}*/

/*.memory-card {*/
/*    width: calc(25% - 10px);*/
/*    height: calc(20% - 10px);*/
/*    margin: 5px;*/
/*    position: relative;*/
/*    transform: scale(1);*/
/*    transform-style: preserve-3d;*/
/*    transition: transform .5s;*/
/*    box-shadow: 1px 1px 1px rgba(0,0,0,.3);*/
/*}*/

/*.memory-card:active {*/
/*    transform: scale(0.97);*/
/*    transition: transform .2s;*/
/*}*/

/*.memory-card.turned{*/
/*    transform: rotateY(180deg);*/
/*}*/


/*.front,*/
/*.back {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 20px;*/
/*    position: absolute;*/
/*    border-radius: 5px;*/
/*    background: #1C7CCC;*/
/*    backface-visibility: hidden;*/
/*}*/

/*.front{*/
/*    transform: rotateY(180deg);*/
/*}*/


body {
    background-color: darkgrey
}

#app {
    padding: 35px;
    width: 40%;
    margin: 20px auto;
    border-radius: 10px;
}
#app .memory-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    perspective: 1000px;
    margin-bottom: -15px;
}
#app .memory-game .card {
    width: 15%;
    user-select: none;
    height: 110px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 15px;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
#app .memory-game .card div {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-radius: 10px;
    background: #b4f7f7;
}
#app .memory-game .card .back {
    font-size: 50px;
    line-height: 120px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#app .memory-game .card .front {
    transform: rotateY(180deg);
    line-height: 110px;
}
#app .memory-game .card .front img {
    width: 100%;
    height: 100%;
}
#app .memory-game .card .back img {
    vertical-align: middle;
    width: 70%;
}
#app .memory-game .card.opened {
    transform: rotateY(180deg);
}
#app .memory-game .card.matched {
    transform: rotateY(180deg);
}
#app .memory-game .card.matched .front {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05) inset;
    opacity: 0.6;
}


button {
    height: 100px;
    width: 100%;
    background-color: dodgerblue;
    font-family: comic sans sans-serif;
    font-size: 3rem;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}